* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-image: url(./assets/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    margin-top: 32px;
    height: 120px;
}

header div {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    width: 120px;
    margin: auto;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    border-radius: 50%;
    width: 100%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 8px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}
section ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

section ul li {
    transition: transform .3s;
}
section ul li:hover {
    transform: scale(1.1);
}

section h2 {
    font-weight: 900;
    font-size: 24;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

.game-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 4px solid #443E54;
}

/* Animations */
header div {
    animation: fromTop .3s .2s backwards;
    /* animation-delay: 1s; */
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* main section {
    animation: leftRight .7s backwards;
} */

main section:nth-child(1) {
    animation: leftRight .8s backwards;
    animation-delay: .2s;
}

main section:nth-child(2) {
    animation: rightLeft .8s backwards;
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation: leftRight .8s backwards;
    animation-delay: .2s;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translate(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leftRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}